/* globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.center-container-60 {
  width: 60%;
  margin: auto;
}

.line-sep {
  height: 0.2rem;
  width: 5rem;
  margin: 2rem auto;
  background: #c5c4c9;
}

.line-sep-aqua {
  height: 0.2rem;
  width: 5rem;
  margin: 2rem auto;
  background: aqua;
}

/* ### To Do - refactoring 
add global stylings  for headlines, p, buttons, line-height, font weight, sections etc. 
--> in order to avoid redundant code and to assure using consistent styling;
suggestions here: */
/*
.sections {
    overflow: hidden;
}
... */
/* -------------------------------------------------- */
/* -------------------------------------------------- */

/* header */
/* sb@ac 4 teamsession today (11-27): talk about changes 
    --> using a class here as this styling is global and overrides all sectioning headers used in project */

.section-header {
    position: absolute;
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 10;
}

.header_logo-wrapper {
    width: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header_tajam-heading {
    font-size: 2rem;
}

.header_tajam-heading {
    color: aqua;
}

.header_nav {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_link-wrapper {
    color: aqua;
    list-style: none;
}

.header_link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.diff_col {
    color:aqua;
}

/*
.header_tajam-wrapper {
    width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem, 3rem;
  height: 1rem, 1rem;
  background-color: #6f6feb;
  color: aqua;
  font-size: 1.7em;
}

.header_tajam-logo-wrapper {
  display: flex;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 20%;
  width: 30%;
}

.header_section_nav .header_nav {
  padding-left: 8rem;
  justify-content: space-around;
  font-weight: bold;
  color: #fff;
  width: 100%;
  display: flex;
}

.header-logo-letters {
  color: #68dacd;
  flex-direction: row;
}
*/
/* sections */

/* -----------------Section hero---------------------- */

.section-hero {
  display: flex;
  background-image: url("../img/bgk-header.png");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  width: 100%;
  height: 65vh;
  font-family: "Poppins", sans-serif;
}

.section-hero_heading {
  font-size: 3.5rem;
  color: #fff;
  margin-top: 2rem;
}

.section-hero_paragraph {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

.section-hero_btn{
  transition: background-color .2s, color .2s;
}



/*
.section-hero.p {
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.section-hero p {
  letter-spacing: 0.3;
  justify-content: center;
  color: #fff;
  text-align: left;
  margin-left: 10rem;
  font-size: 1rem;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-left: 60rem;
  margin-bottom: 20rem;
  text-align: center;
}

.btn-section-hero {
  font-size: 1.5rem;
  font-weight: lighter;
  border-radius: 0em;
  color: #68dacd;
  background-color: transparent;
}
*/
/* ----------------- Section Story sb --------------------- */
.section-story {
  display: flex;
  min-height: 35vh;
}

.section-story_row {
  display: flex;
  align-content: center;
}
.section-story__article {
  margin-left: 10rem;
}
.section-story__article p {
  font-size: 1.5rem;
  color: gray;
  margin: 1rem 0;
}
.section-story img {
  min-height: 20vh;
}

/* -----------------Section video---------------------- */
.section-video {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/bgk-middle.png');
    background-size: cover;
    min-height: 85vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-video img {
  margin: 30px;
}

.section-video p {
  color: white;
  font-weight: bold;
}

.section-video p {
  font-size: 1.5em;
}

.section-expertise {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 7em auto;
}

#times {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8em;
}

.section-expertise h2 {
  margin-bottom: 0.3em;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
}

#order-box-margin {
  margin-top: 3em;
}

.box-order {
  height: auto;
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  width: 33%;
  padding: 20px;
}

.box img {
  margin: 2em 0;
}

.box h5 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.box p {
  font-size: 1.5em;
  color: gray;
}

#box1 {
  border-right: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
}

#box2 {
  border-left: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
}

#box3 {
  border-left: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
}

#box4 {
  border-top: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
}

#box5 {
  border-left: 1px solid rgb(224, 224, 224);
  border-top: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
}

#box6 {
  border-left: 1px solid rgb(224, 224, 224);
  border-top: 1px solid rgb(224, 224, 224);
}

/* ----------------- Section Team sb ---------------------- */
.section-default {
  padding-top: 8.5rem;
  padding-bottom: 10rem;
  overflow: hidden;
}

.section-team__info p,
.section-team__contact p,
.section-team__head p {
  line-height: 3rem;
  font-size: 1.7rem;
}

.section-team {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background: url("../img/bgk-header.png");
  background-position: top;
  background-size: cover;
  color: white;
}
.section-team__head {
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 5rem;
}

/* sb-ToDo: change h3 to global class: */
.section-team__head h3,
.section-story__article h3 {
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: 700;
}

.section-team__cardset {
  display: flex;
  flex-wrap: wrap;
  /*columns: 4;
    column-gap: 1rem;*/ /* not needed when using justify-content: space-around/between */
  min-height: 40vh;
  align-items: center;
  justify-content: space-around;
}
.section-team__card {
  flex: 1 25rem;
  border: 1px solid #fff;
  margin: 0.8rem;
  background: transparent;
  min-height: 30vh;
  max-width: 25rem;
  margin-bottom: 2rem;
}
.section-team__img img {
  width: 100%;
  align-items: center;
  background: white;
  min-height: 30vh;
}
.section-team__info {
  padding: 2rem 0;
  text-align: center;
  min-height: 10vh;
}
.section-team__info h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.section-team__info p {
  text-transform: uppercase;
}
.section-team__info p:last-child {
  margin-bottom: 0px;
}
.section-team__contact {
  align-items: center; /* noeff sb-ch*/
  justify-content: center; /* noeff sb-ch*/
  text-align: center;
  margin-top: 6rem;
}
/* sb-todo: change button to global .button-blue */
.section-hero_btn,
.section-story__btn,
.section-team__contact button {
  padding: 0.9rem 3rem;
  margin-top: 2rem;
  min-width: 10rem;
  height: 4rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #68dacd;
  border-radius: 0px;
  color: #01e1d1;
}

.section-team__contact button {
  transition: color .2s, background-color .2s, border .2s;
}

.section-team__contact button:hover,
.section-hero_btn:hover {
  background-color: rgba(0, 255, 255, 0.4);
  border: 1px solid rgba(0, 255, 255, 0.4);
  color: #fff;
}

/* ----------------------------------------------------- */
/* -----------------Section contact--------------------- */
/* ----------------------------------------------------- */

.section-contact {
  display: flex;
  margin: 0 auto;
  padding: 13rem 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section-contact__headings,
.section-contact__content-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ------------Section contact-headings------------------ */

.section-contact__heading {
  width: 45%;
  font-size: 3rem;
  padding-bottom: 3rem;
}

/* ------------Section contact-form------------------ */

.section-contact__form-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.section-contact__input,
.section-contact__input-ym {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgb(214, 214, 214);
}

.section-contact__input,
.section-contact__input-ym:focus {
  outline: none;
}

.section-contact__input-ym {
  resize: none;
}

.section-contact__button {
  width: 10rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #68dacd;
  border: 1px solid #68dacd;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.section-contact__button:hover {
  background: #68dacd;
  color: #fff;
}

/* ------------Section contact-clients-----------------*/

.section-contact__our-clients {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-contact__image-column {
  width: 40%;
}

.section-contact__image-wrapper {
  width: 100%;
  padding: 2rem 0;
}

.section-contact__image {
  width: 80%;
}

/* -------------------------------------------------- */
/*------------ FOOTER --------------------------------*/
/* -------------------------------------------------- */

.footer {
  display: flex;
  width: 100%;
  padding: 8rem 0;
  margin: 0 auto;
  background-image: url("../img/bgk-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer__wrapper {
  width: 60%;
  height: 90%;
  padding-top: 1%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*----- footer section Description & newsletter -----*/

.footer__section-desc {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer__headings,
.footer__desc-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__desc-content {
  height: 60%;
  padding: 0 0 6rem 0;
}

.footer__headings {
  height: 40%;
  padding: 0 0 4rem 0;
}

/*------- footer Headings -------------------------- */

.footer__tajam-wrapper,
.footer__heading-wrapper {
  width: 30%;
  align-items: center;
  font-size: 2rem;
  display: flex;
}

.footer__tajam-wrapper {
  flex-direction: row;
}

.footer__tajam-heading {
  color: #68dacd;
  font-weight: 100;
  font-size: 3rem;
}

.footer__tajam-logo-wrapper {
  margin-right: 3%;
  padding-top: 3%;
}

.footer__tajam-desc,
.footer__studio-content,
.footer__newsletter-wrapper {
  width: 30%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

/*---footer Content Description/Adress/Newsletter----*/

.footer__studio-wrapper {
  display: flex;
  direction: column;
}

.footer__adress-logo {
  height: 2rem;
  margin-right: 4%;
}

.footer__phone-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.footer__phone-logo {
  height: 2rem;
  margin-right: 2%;
}

.footer__input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer__input-box {
  width: 77%;
  height: 4rem;
  border: 1px solid #fff;
  margin: 0 3% 7% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.2s;
}

.footer__input-box:hover {
  border: 1px solid #68dacd;
}

.footer__input {
  width: 100%;
  height: 1.8rem;
  padding-left: 5%;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
}

.footer__input:focus {
  outline: none;
}

.footer__input::placeholder {
  color: #fff;
}

.footer__button-box {
  width: 20%;
  height: 4rem;
  background-color: rgba(214, 214, 214, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s;
}

.footer__button-box:hover {
  box-shadow: inset 0px 0px 3px 2px rgb(90, 90, 90);
}

.footer__social-logo {
  padding-right: 1%;
  transition: transform 0.2s;
}

.footer__social-logo:hover {
  transform: scale(1.1);
}

/*------- footer section Navigation and Copyright-----*/

.footer__section-nav {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  align-content: flex-start;
}

.footer__link-wrapper {
  margin-right: 5%;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #68dacd;
}

.footer__copyright {
  width: 50%;
  align-self: right;
  text-align: end;
  font-size: 1.5rem;
}
