/* globals */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
}
html {
    font-size: 62.5%; 
}
body {
    font-family: 'Poppins', sans-serif;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
} 
.center-container-70 {
    width: 70%;
    margin: auto;
}


/* ### To Do - refactoring 
add global stylings  for headlines, p, buttons, line-height, font weight, sections etc. 
--> in order to avoid redundant code and to assure using consistent styling;
suggestions here: */
/*
.sections {
    overflow: hidden;
}
... */
/* -------------------------------------------------- */
/* -------------------------------------------------- */

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem, 3rem;
    height: 1rem, 1rem; 
    background-color: #2e2ef8;
}

header .header-logo{
    display: flex;
    width: 20%;

}

.header li {
    display: inline;
    padding-right: 2rem;
    font-weight: bold;
    color: #fff;
}

.header-logo-letters{
    color: aqua;
    flex-direction: row;
}

/* ----------------- Sections ---------------------- */
.home-header{
    color: aqua
}
/* sections */

/* -----------------Section hero---------------------- */

.section-hero {
    display: flex;
    background-image: url('../img/bgk-header.png');
    background-size: cover;
    align-items: center;
    width: 100%;
    height: 65vh;
}

.header.logo

.section-hero h1 {
padding-top: 2rem;
font-size: 2rem;
font-weight: bold;
color: #fff;
}

.section-hero p{
letter-spacing: .5rem;
justify-content: center;
color: #fff;
}

.btn-section-hero {
    font-size: .4rem;
    font-weight: lighter;
    border-radius: 0em;
    color: aqua;
}

/* -----------------Section video---------------------- */
.section-video {

    background-repeat: no-repeat;
    background-image: url('../img/bgk-middle.png');
    height: 550px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-video img {
    margin-bottom: 30px;
}
.section-video p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

.section-video p {
    font-size: 1.5em;;
}

.section-expertise {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 5em auto;
}

p.times {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

.section-expertise h2 {
    margin-bottom: .3em;
    font-family: Times New Roman;
    font-size: 2em;
}

#order-box-margin {
    margin-top: 3em;
}

.box-order {
    
    height: auto;
    display: flex;
    justify-content: center;
}

.box {
    
    text-align: center;
    width: 33%;
    padding: 20px;
    border: 1px  solid grey;
}

.box img {
    margin: 1.5em 0;
}

.box h5 {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.box p {
    font-size: 1.2em;
    color: gray;
}

#box1 {
    border: ;
}

#box2 {
    
}

#box3 {
    
}

#box4 {
    
}

#box5 {
    
}

#box6 {
    
}

/* ----------------- Section Team sb ---------------------- */
.section-default {
    padding-top: 85px;
padding-bottom: 105px;
overflow: hidden;
}

/* ----------------- Section Team sb ---------------------- */
.section-default {
    padding-top: 85px;
padding-bottom: 105px;
overflow: hidden;
}
.section-team {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    background: url("../img/bgk-header.png");
    background-position: top;
    background-size: cover;
    color: white;
    
}
.section-team__head {
    text-align: center;
    line-height: 1.5rem;
    margin-top: 5rem;
}
.section-team__head h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.section-team__line {
    height: 0.2rem;
    width: 5rem;
    margin: 2rem auto;
    background: white;
}
.section-team__cardset {
    
    display: flex;
    columns: 4;
    column-gap: 3rem;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}
.section-team__img {
    background: white;
    border: 1px solid black;
}
.section-team__contact {
    align-items: center; /* noeff sb-ch*/
    justify-content: center; /* noeff sb-ch*/
    text-align: center;
    
}

.section-team__contact button {
    padding: 0.9rem 3rem;
    margin-top: 2rem;
    min-width: 16rem;
    height: 4.5rem;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 2rem;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #01e1d1;
    border-radius: 0px;  
}
/* sb-ToDo: :hover */

.section-team__btn a  {
    margin-top: 2rem;
    text-transform: uppercase;
    color: #01e1d1;
}




/* -----------------Section contact---------------------- */

.section-contact {
    display: flex;
    margin: 0 auto;
    padding: 17rem 0;
    width: 60%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.section-contact__headings,
.section-contact__content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ------------Section contact-headings------------------ */

.section-contact__heading {
    width: 45%;
    font-size: 3rem;
    padding-bottom: 3rem;
}


/* ------------Section contact-form------------------ */

.section-contact__form-wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.section-contact__input,
.section-contact__input-ym {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(214, 214, 214);
}

.section-contact__input,
.section-contact__input-ym:focus {
    outline: none;
}

.section-contact__input-ym {
    resize: none;
}

.section-contact__button {
    width: 10rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: aqua;
    border: 1px solid aqua;
    font-weight: bold;
    transition: background .3s, color .3s;
}

.section-contact__button:hover {
    background: aqua;
    color: #fff;
}

/* ------------Section contact-clients-----------------*/

.section-contact__our-clients {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-contact__image-column {
    width: 40%;
}

.section-contact__image-wrapper {
    width: 100%;
    padding: 2rem 0;
}

.section-contact__image {
    width: 80%;
}

/* -------------------------------------------------- */
/*------------ FOOTER --------------------------------*/
/* -------------------------------------------------- */

.footer {
    display: flex;
    width: 100%;
    height: 45vh;
    margin: 0 auto;
    background-image: url("../img/bgk-footer.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.footer__wrapper {
    width: 60%;
    height: 90%;
    padding-top: 1%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


/*----- footer section Description & newsletter -----*/

.footer__section-desc {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer__headings,
.footer__desc-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__desc-content {
    height: 60%;
}

.footer__headings {
    height: 40%;
}

/*------- footer Headings -------------------------- */

.footer__tajam-wrapper,
.footer__heading-wrapper {
    width: 30%;
    align-items: center;
    font-size: 2rem;
    display: flex;
}

.footer__tajam-wrapper {
    flex-direction: row;
}

.footer__tajam-heading {
    color: aqua;
    font-weight: 100;
    font-size: 3rem;
}

.footer__tajam-logo-wrapper {
    margin-right: 3%;
    padding-top: 3%;
}

.footer__tajam-desc,
.footer__studio-content,
.footer__newsletter-wrapper {
    width: 30%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

/*---footer Content Description/Adress/Newsletter----*/

.footer__studio-wrapper {
    display: flex;
    direction: column;
}

.footer__adress-logo {
    height: 2rem;
    margin-right: 4%;
}

.footer__phone-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.footer__phone-logo {
    height: 2rem;
    margin-right: 2%;
}

.footer__input-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer__input-box {
    width: 65%;
    height: 4rem;
    border: 1px solid #fff;
    margin: 0 3% 7% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .2s;
}

.footer__input-box:hover {
    border: 1px solid aqua;
}

.footer__input {
    width: 95%;
    height: 2.1rem;
    padding-left: 6%;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
}

.footer__input:focus {
    outline: none;
}

.footer__input::placeholder {
    color: #fff;
}

.footer__button-box {
    width: 20%;
    height: 4rem;
    background-color: rgba(214, 214, 214, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s;
}

.footer__button-box:hover {
    box-shadow: inset 0px 0px 3px 2px rgb(90, 90, 90);
}

.footer__social-logo {
    padding-right: 1%;
    transition: transform 0.2s;
}

.footer__social-logo:hover {
    transform: scale(1.1);
}

/*------- footer section Navigation and Copyright-----*/

.footer__section-nav {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    align-content: flex-start;
}

.footer__link-wrapper {
    margin-right: 5%;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    transition: color .3s;
}

.footer__link:hover {
    color: aqua;
}

.footer__copyright {
    width: 50%;
    align-self: right;
    text-align: end;
    font-size: 2rem;
}